@import url(https://fonts.googleapis.com/earlyaccess/jejugothic.css);

body {
  font-family: "Jeju Gothic", sans-serif;
  margin: 0px;
  color: #292929;
  background-color: #f3f3f3;
}

button {
  cursor: pointer;
  border: none;
  border-radius: 3px;
  color: #f3f3f3;
  background-color: #c0163a;
  margin-right: 5px;
  padding: 10px;
  font-size: 1em;
}

.card {
  border: 1px solid rgba(0, 0, 0, 0.25);
  background-color: rgba(255, 255, 255, 0.5);
  padding: 15px;
  max-width: 200px;
  margin: 0 auto;
  text-align: center;
  height: 200px;
  line-height: 50px;
  display: inline;
}

.logo {
  font-size: 1.9em;
  margin-right: auto;
  margin-left: 10px;
  color: "red";
}
.main {
  margin: 20px;
}

.nav {
  background-color: #033578;
  margin: 0px;
  padding: 10px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: #f3f3f3;
}

.nav-selected {
  padding: 5px;
  color: rgb(77, 67, 67);
  font-weight: bold;
  margin-right: 5px;
  font-size: 1.1em;
}

.nav-unselected {
  padding: 5px;
  margin-right: 5px;
  font-size: 1.1em;
}
